<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2016. Self Training Systems, Inc - All Rights Reserved
  ~ Unauthorized copying of this file, via any medium is strictly prohibited
  ~ Proprietary and confidential
  ~ Written by <tien.workinfo@gmail.com - rubit1359@gmail.com - manetivinay@gmail.com>, October 2016
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coderschool.android2.rubit">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- Splash Screen -->
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Login Screen -->
        <activity
            android:name=".login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Face Screen -->
        <activity
            android:name=".face.FaceActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- Request Screen -->
        <activity
            android:name=".request.RequestActivity"
            android:theme="@style/AppTheme" />
        <!-- Request List Screen -->
        <activity
            android:name=".requestList.RequestListActivity"
            android:theme="@style/AppTheme" />
        <!-- Details Task Screen -->
        <activity
            android:name=".detailsTask.DetailsTaskActivity"
            android:theme="@style/AppTheme" />
        <!-- Chat Screen -->
        <activity
            android:name=".chat.ChatActivity"
            android:theme="@style/AppTheme" />
        <!-- Portfolio Screen -->
        <activity
            android:name=".portfolio.PortfolioActivity"
            android:theme="@style/AppTheme" />
    </application>

</manifest>